/* Navbar styles */
.nav-store {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: aliceblue;
}

.left-nav {
  display: flex;
  align-items: center;
}

.center-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.center-nav li {
  font-size: 18px;
  font-weight: 500;
}

.center-nav li hr.underline-link {
  color: tomato;
  height: 2px;
}

.center-nav li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav button {
  padding: 10px 25px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  background-color: white;
  font-size: 14px;
}

.shopping-cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  color: white;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #505050;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-menu-icon {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-store {
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-menu-icon {
    display: block;
  }

  .center-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .center-nav.open {
    display: flex;
  }

  .right-nav {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  .nav-store {
    padding: 10px;
  }

  .center-nav {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }

  .center-nav.open {
    display: flex;
  }

  .logo h2 {
    font-size: 16px;
  }

  nav button {
    padding: 8px 20px;
    font-size: 12px;
  }

  .cart-count {
    top: -10px;
    right: -10px;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}
